/* Mobile view */
@media only screen and (max-width: 600px) {
    .pdfContainer {
        max-width: none;
    }
}

/* Desktop view */
@media only screen and (min-width: 600px) {
    .pdfContainer {
        max-width: 800px;
    }
}

/* General */
.pdfContainer {
    width: 90%;
    text-align: center;
    margin: auto;
}
